<div th:fragment="footer" style="background-color: rebeccapurple">
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase text-white">Контакты Синема Парк</h5>
                    <p class="float-end mb-1 text-white">г. Энгельс, ул. Тельмана, д. 25, ТРЦ "Облака", 3 этаж</p>
                    <p class="float-end mb-1 text-white">Eжедневно 9:00-00:00</p>
                    <p class="float-end mb-1 text-white">Реклама и сотрудничество: <a href="mailto:homie652@gmail.com" class="text-white">cinema@park.com</a></p>
                    <p class="float-end mb-1 text-white">Дирекция кинотеатра: <a href="tel:+79063056130" class="text-white">+79063056130</a></p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3 text-white">

                    <!-- Links -->
                    <h5 class="text-uppercase">Кинотеатр</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a class="text-warning" href="/movies">Расписание фильмов</a>
                        </li>
<!--                        <li>-->
<!--                            <a class="text-warning" href="#!">Скоро</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a class="text-warning" href="#!">Вакансии</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a  class="text-warning"href="#!">Проверить билет</a>-->
<!--                        </li>-->
                    </ul>

                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2022 Cinema Park</div>
    </footer>
</div>
